<h2>Minhas Tarefas</h2>
<ul class="tarefas">
<li *ngFor="let tarefa of tarefas" 
    (click)="onSelect(tarefa)"
    [class.selected]="tarefa === selectedTarefa">
    <span class="badge">{{tarefa.id}}</span> {{tarefa.nome}}
  </li>
</ul>

<div *ngIf="selectedTarefa">
        <h2>{{selectedTarefa.nome | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedTarefa.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedTarefa.nome" placeholder="name"/>
          </label>
        </div>

</div>


